/*  your css code here. If applicable */
#yellow{
    background-color: yellow;
    border: 1px solid rgb(0, 128, 0);
   
  }
#red{
    background-color: red;
    border: 1px solid rgb(0, 128, 0);
   
  }
#green{
    background-color: green;
    border: 1px solid rgb(0, 128, 0);
   
  }